@use '../base/variables' as v;
@use '../base/mixins' as m;

.main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-color: v.$background-color;

  &__content{
    flex: 1;
    padding: 0.5rem;
    
    @include m.breakpoint(md, min){
      padding: 4rem;
    }
   
  }
}