@use '../base/variables' as v;
@use '../base/mixins' as m;

.card {
  background: v.$light-color;
  width: 32%;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // gap: 1rem;

  @include m.breakpoint(md, min) {
    max-width: 45%;
  }

  @include m.breakpoint(lg, min) {
    // max-width: 32%;
    flex-direction: row;
    justify-content: space-between;
  }

  @include m.breakpoint(xl, min) {
    max-width: 32%;
  }

  &__container {
    @include m.breakpoint(lg, min){
      flex: 2;
    }
  }


  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    flex: 1;
  }

  &__content {
    flex: 2;
  }

  &__header {
    h2 {
      text-align: center;
      font-size: 1.2rem;
      margin: 0;

      @include m.breakpoint(lg, min) {
        text-align: left;
      }

    }
  }

  &__body {
    p {
      text-align: center;
      font-size: 0.8rem;
      color: v.$text-color;

      @include m.breakpoint(lg, min) {
        text-align: left;
      }

    }

    &-tags {
      margin-bottom: 0.5rem;
      display: flex;
      gap: 0.4rem;
      justify-content: center;
      align-items: center;

      @include m.breakpoint(lg, min) {
        justify-content: flex-start;
      }

      span {
        @include m.chip();
        font-size: 0.8rem;
      }

    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @include m.breakpoint(lg, min) {
      justify-content: flex-start;
    }

  }

}