//themes
$primary-color:    #63C5B8; 
$secondary-color:  #8AD9A4; 
$danger-color:     #FF637D; 
$dark-color:       #343A40; 
$background-color: #F1F3F5; 
$light-color:      #FFFFFF; 
$text-color: #495057; 

